@charset "utf-8";
/* CSS Document */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", "serif";  font-weight: bold; text-decoration: normal; vertical-align: baseline;"
  color: #;
}

body {
  background-image: url("Kart/8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sect {
  padding: 90px 0;
  position: relative;
}


.collapse {
  display: block;
}

.btn {
  background-color: #;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}


.btn:hover {
  box-shadow: 0 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: #;
  color: #FFCE00;
}

.price-box__wrap:hover .btn {
  box-shadow: 0 25px 18px -6px rgba(0, 0, 0, 0.2);
}

.btn--revert {
  background-color: transparent;
  color: #000000;
  box-shadow: none;
  border: 1px solid #c9d9e9;
}

.btn--revert:hover {
  background-color: transparent;
  color: #1f4568;
  box-shadow: none;
  border: 1px solid #8198ae;
}

.btn--width {
  width: 70px;
}

.btn--white {
  background-color: #;
  border: 0.2px solid #ededed;
  color: #000000;
}

.btn--white:hover {
  background-color: #;
  color: #FFC600;
}

/*menu header*/
.header {
  padding: 30px 25px;
}

.header__elenco {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__menu {
  float: top;
}

.header__el {
  padding: 0 15px;
  display: inline-block;
}

.header__img {
  display: inline-block;
  vertical-align: middle;
}

.header__logo, .header__menu {
  display: inline-block;
  vertical-align: middle;
}

.header__title {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.header__light {
  color: #000000;
}

.header__link {
  color: #000000;
  font-size: 20px;
  
}

.header__link:hover {
  text-decoration: none;
  color: #3a9fff;
}

.navbar-toggle .icon-bar {
  background-color: #8198ae;
}

.navbar-toggle {
  margin: 5px 0;
}


/* section */
.sect {
  padding: 90px 0;
  position: relative;
}

.site {
  text-align: center;
}

.site__title {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.site__subtitle {
  font-size: 22px;
  color: #FFFBFB;
  margin: 15px 0 40px 0;
  text-align: center;
}

.site__img {
  margin-top: 50px;
/*   display: inline-block; */
  width: 50%;
}

.site__box-link .btn--revert {
  margin-left: 15px;
}


.btn--revert {
  background-color: transparent;
  color: #8198ae;
  box-shadow: none;
  border: 1px solid #c9d9e9;
}

.btn--revert:hover {
  background-color: transparent;
  color: #1f4568;
  box-shadow: none;
  border: 1px solid #8198ae;
}


